* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
  width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-nav {
  position: sticky;
  top: 0;
  padding: 2rem;
  padding-bottom: 2rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 0.1rem solid #eee;
  height: 4.5rem;
  padding: 0.5rem 1.5rem;
  margin: 0;
  background: #fff;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  color: #777;
  border-radius: 3rem;
  cursor: pointer;
}
.btn:hover {
  background: #f4f4f4;
}
.searchbar-container {
  display: block;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
    visibility 0.25s ease-in-out;
  will-change: transform;
}
.search-bar {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  position: relative;
}
.search-input {
  width: 100%;
  border: 0.1rem solid #eee;
  height: 4.5rem;
  padding: 0.5rem 1.5rem;
  padding-right: 7rem;
  margin: 0;
  background: #fff;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  color: #777;
  border-radius: 3rem;
  caret-color: red;
}
.search-input:focus {
  outline: none;
}
.search-input-submit {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: #f87474;
  color: #fff;
  padding: 0 2.5rem;
  height: 4.5rem;
  width: auto;
  border-radius: 0 3rem 3rem 0;
  z-index: 4;
  transition: all 0.5s;
}

.container {
  /* max-width: 1200px; */
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  transition-duration: 600ms;
  opacity: 0;
}
.country-container {
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
    visibility 0.25s ease-in-out;
  will-change: transform;
}
.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
}

.neighbour-wrapper {
  width: 100%;
  height: 48rem;
}

.neighbour {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}
.neighbour::before {
  content: "Neighbour country";
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}
.neighbour-container {
  display: none;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 100%;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
    visibility 0.25s ease-in-out;
  will-change: transform;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
.show {
  display: flex;
  opacity: 1;
}
